# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost/companies") #conexión con el servidor
client.list_database_names() # Databases en en MongoDB Compass (globales)
db = client.get_database("companies")# Conexión especifica con la base de datos que vamos a trabajar

In [2]:
db.list_collection_names() # Te da las pequeñas bases de datos

['lab']

In [3]:
list(db.list_collections())

[{'name': 'lab',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('69dbb9b1-8b5f-488b-9503-5153b88e3cdb')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [4]:
collection = db.get_collection("lab") #guarda en la variable collection la database especifica con la que trabajar

In [5]:
list(collection.find_one())

['_id',
 'name',
 'permalink',
 'crunchbase_url',
 'homepage_url',
 'blog_url',
 'blog_feed_url',
 'twitter_username',
 'category_code',
 'number_of_employees',
 'founded_year',
 'founded_month',
 'founded_day',
 'deadpooled_year',
 'tag_list',
 'alias_list',
 'email_address',
 'phone_number',
 'description',
 'created_at',
 'updated_at',
 'overview',
 'image',
 'products',
 'relationships',
 'competitions',
 'providerships',
 'total_money_raised',
 'funding_rounds',
 'investments',
 'acquisition',
 'acquisitions',
 'offices',
 'milestones',
 'video_embeds',
 'screenshots',
 'external_links',
 'partners']

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [6]:
list(collection.find({"name": "Babelgum"}, {"name":1, "_id":0}))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [7]:
var2 = ({'number_of_employees':{"$gt":2000}})

In [8]:
q2 = collection.find(var2).limit(20).sort('number_of_employees',1)

In [9]:
len(list(q2))

20

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [10]:
proy3 = {"name":1,"founded_year":1,"_id":0 }

In [11]:
var3 = {"founded_year": {"$in": [2000, 2001, 2002, 2003, 2004, 2005]}}

In [12]:
list(collection.find(var3,proy3).limit(2))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [13]:
proy4 = {"name":1, "ipo":1, "_id":0}

In [14]:
var4 = {"ipo.valuation_amount":{"$gt":100000000}}

In [15]:
var41 = {"founded_year": {"$lt": 2010}}

In [17]:
r4 = list(collection.find({"$and": [var4,var41]},proy4).limit(2))

In [18]:
r4

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [21]:
var5 = {'number_of_employees':{"$lt":1000}}

In [22]:
var51 = {"founded_year": {"$lt": 2005}}

In [27]:
proy5 = {'number_of_employees':-1, "_id":0, "name":1}

In [28]:
r5 = list(collection.find({"$and": [var5, var51]},proy5).limit(10))

In [29]:
r5

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Digg', 'number_of_employees': 60},
 {'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'Plaxo', 'number_of_employees': 50},
 {'name': 'Technorati', 'number_of_employees': 35},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'Meetup', 'number_of_employees': 75},
 {'name': 'SmugMug', 'number_of_employees': 62},
 {'name': 'Skype', 'number_of_employees': 0},
 {'name': 'Pando Networks', 'number_of_employees': 23}]

### 6. All the companies that don't include the `partners` field.

In [38]:
list(collection.find({"partners":{"$exists": False}}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
list(collection.find({'category_code'}))

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
# Your Code

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [ ]:
# Your Code

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code