# Advanced Querying Mongo

Importing libraries and setting up connection

In [32]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [38]:
#lISTAMOS LOS NOMBRES DE LAS BASES DE DATOS
client.list_database_names()

['Companies', 'admin', 'config', 'local']

In [34]:
db = client.get_database("Companies")

In [35]:
c = db.get_collection("Companies")

In [36]:
c

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Companies'), 'Companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [40]:
proj = {"_id":0, "name":1}

In [45]:
names = c.find({"name":"Babelgum"}, proj)

In [46]:
names

In [47]:
list(names)

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [51]:
large_companies= list(c.find({"number_of_employees":{"$gte": 5000}}).limit(2))

In [168]:
#large_companies

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [53]:
proje ={"_id":0, "name":1, "founded_year":1}

In [79]:
between2000_2005 = list(c.find({"$and":[{"founded_year":{"$gte":2000}}, {"founded_year":{"$lte":2005}}]},proje).limit(2))

In [80]:
between2000_2005

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [81]:
proje ={"_id":0, "name":1, "ipo":1}

filter_year = {"founded_year": {"$lte": 2010}}
filter_valu = {"ipo.valuation_amount": {"$gte":100000000}}

In [83]:
list(c.find({"$and": [filter_year,filter_valu]}, proje).limit(2))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [85]:
proje ={"_id":0, "name":1, "number_of_employees":1}

filter_year1 = {"founded_year": {"$lte": 2005}}
filter_empl = {"number_of_employees": {"$lte":1000}}

In [92]:
list(c.find({"$and": [filter_year1,filter_empl]}, proje).sort("number_of_employees",1).limit(10))

[{'name': 'Fox Interactive Media', 'number_of_employees': 0},
 {'name': 'Ticketmaster', 'number_of_employees': 0},
 {'name': 'MindTouch', 'number_of_employees': 0},
 {'name': 'Skype', 'number_of_employees': 0},
 {'name': 'YouTube', 'number_of_employees': 0},
 {'name': 'stylediary', 'number_of_employees': 0},
 {'name': 'Attributor', 'number_of_employees': 0},
 {'name': 'Yeigo', 'number_of_employees': 0},
 {'name': 'PartnerUp', 'number_of_employees': 0},
 {'name': 'Bebo', 'number_of_employees': 0}]

### 6. All the companies that don't include the `partners` field.

In [95]:
list(c.find({"partners": {"$exists": False}}).limit(2))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [107]:
list(c.find({"category_code":None}).limit(2))

[{'_id': ObjectId('52cdef7c4bab8bd6752980f6'),
  'name': 'Collective',
  'permalink': 'collective',
  'crunchbase_url': 'http://www.crunchbase.com/company/collective',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'updated_at': 'Thu Sep 26 13:15:02 UTC 2013',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []},
 {'_id': ObjectId('52cdef7c4bab8bd675298225'),
  'name': 'Snimmer',
  'permalink': 'snimmer',
  'crunchbase_url': 'http://www.crunchbase.com/company/snimmer',
  'homepage_url': None,
  'blog_url': None,
  'blog_feed_url': None,
  'twitter_username': None,
  'category_code': None,
  'number_of_employees': None,
  'founded_year': None,
  'founded_month': None,
  'founded_day': None,
  'deadpooled_year': None,
  'deadpooled_month': None,
  'deadpooled_day': None,
  'deadpooled_url': None,
  'tag_list': None,
  'alias_list': None,
  'email_address': None,
  'phone_number': None,
  'description': None,
  'created_at': 'Sat Feb 09 20:35:27 UTC 2008',
  'updated_at': 'Mon Mar 10 01:30:14 UTC 2008',
  'overview': None,
  'image': None,
  'products': [],
  'relationships': [],
  'competitions': [],
  'providerships': [],
  'total_money_raised': '$0',
  'funding_rounds': [],
  'investments': [],
  'acquisition': None,
  'acquisitions': [],
  'offices': [],
  'milestones': [],
  'ipo': None,
  'video_embeds': [],
  'screenshots': [],
  'external_links': [],
  'partners': []}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [108]:
proje ={"_id":0, "name":1, "number_of_employees":1}

filter_empl1 = {"number_of_employees": {"$gte":100}}
filter_empl2 = {"number_of_employees": {"$lt":1000}}

In [110]:
list(c.find({"$and": [filter_empl1,filter_empl2]}, proje).limit(2))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [169]:
#list(c.find({"ipo":{"$ne":None}},).sort("ipo",-1).limit(5))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [118]:
proje ={"_id":0, "name":1, "number_of_employees":1}

In [119]:
list(c.find({"number_of_employees":{"$ne":None}},proje).sort("number_of_employees",-1).limit(5))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [131]:
proje ={"_id":0, "name":1, "founded_month":1}
list(c.find({"founded_month": {"$gte":6}},proje).limit(2))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [137]:
projec ={"_id":0, "name":1,"acquisition.price_amount":1 }

filter_year2 = {"founded_year": {"$lte": 2000}}
filter_acqui = {"acquisition.price_amount": {"$gte":1000000}}

In [138]:
list(c.find({"$and": [filter_year2,filter_acqui]}, projec).limit(2))

[{'name': 'Postini', 'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep', 'acquisition': {'price_amount': 180000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [142]:
projec ={"_id":0, "name":1,"acquisition":1 }

filter_acqui = {"acquisition.acquired_year": {"$gt":2010}}

In [146]:
list(c.find({"acquisition.acquired_year": {"$gt":2010}},projec).limit(2).sort("number_acquisition",1))

[{'name': 'Wetpaint',
  'acquisition': {'price_amount': 30000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
   'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}},
 {'name': 'Digg',
  'acquisition': {'price_amount': 500000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/07/12/betaworks-acquires-digg/',
   'source_description': 'Betaworks Acquires Digg (TechCrunch)',
   'acquired_year': 2012,
   'acquired_month': 7,
   'acquired_day': 12,
   'acquiring_company': {'name': 'betaworks', 'permalink': 'betaworks'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [149]:
projec ={"_id":0, "name":1,"founded_year":1 }

list(c.find({"founded_year": {"$ne":None}},projec).limit(2).sort("founded_year",-1))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
projec ={"_id":0, "name":1,"acquisition.price_amount":1 }

filter_day = {"founded_day": {"$lte": 7}}
filter_acqui = {"acquisition.price_amount": {"$gte":1000000}}

In [170]:
#list(c.find({"founded_day": {"$lte":7}}).limit(2).sort("acquisition.price_amount",-1))

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [152]:
projec ={"_id":0, "name":1,"number_of_employees":1 }

filter_cat = {"category_code":"web"}
filter_employees = {"number_of_employees": {"$gte":4000}}

In [153]:
list(c.find({"$and": [filter_cat,filter_employees]}, projec).limit(2).sort("number_of_employees",1))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [157]:
projec ={"_id":0, "name":1, "acquisition.price_amount":1, "acquisition.price_currency_code":1}

filter_acq1 = {"acquisition.price_amount": {"$gt":10000000}}
filter_acq2 = {"acquisition.price_currency_code":"EUR"}

In [158]:
list(c.find({"$and": [filter_acq1,filter_acq2]}, projec).limit(2))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [159]:
projec ={"_id":0, "name":1, "acquisition":1}

In [164]:
list(c.find({"acquisition.acquired_month": {"$lte":3}},projec).limit(2))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [166]:
projec ={"_id":0, "name":1}

filter_found = {"founded_year": {"$gte":2000}}
filter_found2 = {"founded_year": {"$lte":2010}}
filter_acq3 = {"acquisition.acquired_year":{"$gte":2011}}

In [167]:
list(c.find({"$and": [filter_found,filter_found2,filter_acq3]}, projec).limit(2))

[{'name': 'Wetpaint'}, {'name': 'Digg'}]

### 20. All the companies that have been 'deadpooled' after the third year.